# Datan analysointi K2020_2 - Tehtävät kerta 4

Palauta Optiman palautuslaatikkoon viimeistään su 1.3. Kirjoita palautuslaatikon kommenttikenttään, mitkä tehtävät olet tehnyt kokonaan/osittain.

**Opiskelijan nimi:**

## 1. Yhdistäminen

Tiedostossa https://student.labranet.jamk.fi/~varpe/datananal2k2020/kerta4/pyorat.txt on kesältä 2017 tietoja vapaana olevien kaupunkipyörien määristä neljästä telineestä Helsingistä (keskiarvot tunneittain).

Tiedostossa https://student.labranet.jamk.fi/~varpe/datananal2k2020/kerta4/helsinki2017.csv on vastaavalta ajalta säähavaintoja Helsingin Kaisanimestä. 

Lue molemmat tiedosto omiin DataFrameihinsa ja yhdistä DataFramet järkevästi, siten että molempien datojen vastaavat tunnit on samalla rivillä.


Tee yhdistäminen niin, että kaikki tunnit jotka on jommassa kummassa tiedostossa, on mukana yhdistetyssä DataFramessa (pyörädatasta puuttuu tunteja välistä).


Poista mahdolliset ylimääräiset sarakkeet siten, että kk/pv/tunti -tiedot eivät ole kahdesti.

In [2]:
import pandas as pd

dfPyorat = pd.read_csv('https://student.labranet.jamk.fi/~varpe/datananal2k2020/kerta4/pyorat.txt', sep = ',', decimal='.')
dfSaa = pd.read_csv('https://student.labranet.jamk.fi/~varpe/datananal2k2020/kerta4/helsinki2017.csv', sep = ',', decimal='.')

dfPyorat.rename(columns={'Month': 'Kk', 'Day': 'Pv', 'Hour':'Klo'}, inplace=True)
dfSaa['Klo'] = (dfSaa['Klo'].str.split(':').str.get(0)).astype(int)

yhdistettävät = ['Kk', 'Pv', 'Klo']
dfYhd2 = pd.merge(dfPyorat, dfSaa, how = 'outer', on = yhdistettävät) #dfPyorat.combine_first(dfSaa)
#print(dfYhd2[yhdistettävät].sort_values(['Kk', 'Pv', 'Klo'], ascending=False).head(50))
print(dfYhd2)

      Kk  Pv  Klo  Sammonpuistikko  Hietaniemenkatu  Eteläinen Hesperiankatu  \
0      6   1    0         5.750000              NaN                     12.0
1      6   1    1         5.666667              NaN                     12.0
2      6   1    2         6.916667              NaN                     12.0
3      6   1    3         7.000000              NaN                     12.0
4      6   1    4         7.000000              NaN                     12.0
...   ..  ..  ...              ...              ...                      ...
1459   7  28   12              NaN              NaN                      NaN
1460   7  28   13              NaN              NaN                      NaN
1461   7  28   14              NaN              NaN                      NaN
1462   7  28   15              NaN              NaN                      NaN
1463   7  28   16              NaN              NaN                      NaN

       Kesäkatu  rivi  Pilvien määrä (1/8)  Suhteellinen kosteus (%)  \
0     14.416667     0                    1                        61
1     15.000000     1                    1                        68
2     15.000000     2                    5                        72
3     15.000000     3                    5                        74
4     15.000000     4                    7                        72
...         ...   ...                  ...                       ...
1459        NaN  1380                    7                        71
1460        NaN  1381                    5                        67
1461        NaN  1382                    5                        71
1462        NaN  1383                    7                        83
1463        NaN  1384                    8                        85

      Sateen intensiteetti (mm/h)  Ilman lämpötila (degC)
0                             0.0                     6.5
1                             0.0                     5.5
2                             0.0                     5.3
3                             0.0                     5.7
4                             0.0                     6.5
...                           ...                     ...
1459                          0.0                    21.4
1460                          0.0                    22.8
1461                          0.0                    21.7
1462                          0.0                    18.9
1463                          0.0                    17.7

[1464 rows x 12 columns]

## 2. Ristiintaulukointia
Tiedostossa https://student.labranet.jamk.fi/~varpe/datananal2k2020/kerta4/kysely.csv on kuvitteellisen henkilöstökyselyn tuloksia.

Dataan on koodattu koulutus-kenttään numeroilla:  
* 1 = peruskoulu
* 2 = toisen asteen koulutus
* 3 = korkeakoulu
* 4 = ylempi korkeakoulu

TyytJohto ja TyytTyöteht -kentät kuvaavat tyytyväisyyttä johtoon ja työtehtäviin asteikolla 1-5.   

työterveys, liikunta ja lomaosake-kentät sisältävät ykkösen jos vastaaja on käyttänyt näitä palveluita, muuten NaN

Ristiintaulukoi/pivotoi/koosta seuraavat jutut:  
* lukumäärät siten, että riveillä perhesuhteet, sarakkeissa tyytyväisyys johtoon (lukumäärät, eli kuinka monta perheellistä on vastannut "tyytyväisyys johtoon"-kohtaan ykkösen jne.
  
  
* prosenttiosuudet siten, että riveillä koulutus tekstinä (esim peruskoulu), sarakkeissa tyytyväisyys työtehtäviin ( prosenttiosuudet 1 desimaalilla riveittäin eli esim montako % vain peruskoulun käyneistä vastaa 1 jne.) 
  
  
* keskiarvot tyytyväisyyksistä johtoon ja työtehtäviin siten, että riveillä on ikäluokka 20-29, 30-39, ... 60-69 ja (eri sarakkeissa) tyytyväisyydet johtoon ja työtehtäviin  
  
  
* kuinka monta prosenttia miehistä ja naisista on käyttäneet työterveys, liikunta ja lomaosake-palveluita  
malli tuloksesta
```
          liikunta lomaosake työterveys
sukupuoli                              
mies         24.6%     11.5%      57.4%
nainen       23.8%      9.5%      57.1%
```

In [1]:
import pandas as pd

df = pd.read_csv('https://student.labranet.jamk.fi/~varpe/datananal2k2020/kerta4/kysely.csv', sep = ',', decimal='.')
# korvataan puuttuvat arvot nollilla
df.fillna(0, inplace=True)

print('\nlukumäärät siten, että riveillä perhesuhteet, sarakkeissa tyytyväisyys johtoon (lukumäärät, eli kuinka monta perheellistä on vastannut "tyytyväisyys johtoon"-kohtaan ykkösen jne')
print(pd.crosstab(df['perhetilanne'],  df['TyytJohto']))

print('\nprosenttiosuudet siten, että riveillä koulutus tekstinä (esim peruskoulu), sarakkeissa tyytyväisyys työtehtäviin ( prosenttiosuudet 1 desimaalilla riveittäin eli esim montako % vain peruskoulun käyneistä vastaa 1 jne.)')

def koulutus(x):
    if x['koulutus'] < 1: return 'Ei Tiedossa'
    elif x['koulutus'] < 2: return 'Peruskoulu'
    elif x['koulutus'] < 3: return 'Toinen Aste'
    elif x['koulutus'] < 4: return 'Alempi Korkeakoulu'
    elif x['koulutus'] < 5: return 'Ylempi Korkeakoulu'
    else: 'Ei Tiedossa'

df['koulutukset'] = df.apply(koulutus, axis=1)
print(pd.crosstab(df['koulutukset'],  df['TyytTyöteht'], normalize = 'index').applymap("{:.1%}".format).stack())

print('\nkeskiarvot tyytyväisyyksistä johtoon ja työtehtäviin siten, että riveillä on ikäluokka 20-29, 30-39, ... 60-69 ja (eri sarakkeissa) tyytyväisyydet johtoon ja työtehtäviin')
df2 = df
df2['Ikäluokka'] = df['ikä'].astype(str).str[0] + '0-' + df['ikä'].astype(str).str[0] + '9'
print(df2.pivot_table(['TyytJohto', 'TyytTyöteht'], index=['Ikäluokka']).applymap('{:,.1f}'.format)) 

print('\nKuinka monta prosenttia miehistä ja naisista on käyttäneet työterveys, liikunta ja lomaosake-palveluita?')
print(df.pivot_table(['liikunta', 'lomaosake', 'työterveys'], index=['sukupuoli'], margins=False).applymap("{:.1%}".format))

lukumäärät siten, että riveillä perhesuhteet, sarakkeissa tyytyväisyys johtoon (lukumäärät, eli kuinka monta perheellistä on vastannut "tyytyväisyys johtoon"-kohtaan ykkösen jne
TyytJohto     1  2   3   4  5
perhetilanne
perheellinen  3  9  17  17  5
perheetön     4  7  13   6  1

prosenttiosuudet siten, että riveillä koulutus tekstinä (esim peruskoulu), sarakkeissa tyytyväisyys työtehtäviin ( prosenttiosuudet 1 desimaalilla riveittäin eli esim montako % vain peruskoulun käyneistä vastaa 1 jne.)
koulutukset         TyytTyöteht
Alempi Korkeakoulu  1                4.5%
                    2                9.1%
                    3               27.3%
                    4               54.5%
                    5                4.5%
Ei Tiedossa         1                0.0%
                    2              100.0%
                    3                0.0%
                    4                0.0%
                    5                0.0%
Peruskoulu          1               11.1%
                    2               11.1%
                    3               48.1%
                    4               22.2%
                    5                7.4%
Toinen Aste         1                3.3%
                    2               26.7%
                    3               33.3%
                    4               23.3%
                    5               13.3%
Ylempi Korkeakoulu  1                0.0%
                    2               50.0%
                    3                0.0%
                    4                0.0%
                    5               50.0%
dtype: object

keskiarvot tyytyväisyyksistä johtoon ja työtehtäviin siten, että riveillä on ikäluokka 20-29, 30-39, ... 60-69 ja (eri sarakkeissa) tyytyväisyydet johtoon ja työtehtäviin
          TyytJohto TyytTyöteht
Ikäluokka
20-29           3.1         3.1
30-39           2.9         3.1
40-49           2.9         3.2
50-59           3.8         3.5
60-69           2.0         5.0

Kuinka monta prosenttia miehistä ja naisista on käyttäneet työterveys, liikunta ja lomaosake-palveluita?
          liikunta lomaosake työterveys
sukupuoli
mies         24.6%     11.5%      57.4%
nainen       23.8%      9.5%      57.1%

## 3. Liikennelaskentaa

Tiedostossa
http://student.labranet.jamk.fi/~varpe/datananal2k2020/kerta4/lam.csv  
on automaattisen liikennelaskennan tietoja yhden kuukauden ajalta yhdestä Espoon mittauspisteestä. 

* rivinro
* päiväys
* suuntakoodi (1 tai 2) 
* ajoneuvoluokka
* tuntiväli
* määrä

Koosta/muokkaa taulukosta DataFrame, jossa on 24 riviä, yksi vuorokauden jokaiselle tunnille ja 30 saraketta kuukauden päiville, siten että DataFramessa on kyseisen tunnin ajoneuvomäärien summa (molemmat suunnat, kaikki ajoneuvoluokat). 

Mallia (otsikot voi vaihdella):  
![lam1](https://student.labranet.jamk.fi/~varpe/datananal2k2020/kerta4/malli1.png)

Laske sitten loppuun sarakkeet:
* suurin, joka kertoo kunkin tunnin suurimman ajoneuvomäärän 30 päivän joukosta
* sija, joka kertoo päivän 1 (1.11.2019) sijoituksen ko. tunnin ajoneuvomäärien suhteen 30 päivän joukossa (eniten = 1.)  
    (siis jos 00-01 -tunneista 1.11. on enemmän kuin minään muuna päivänä, sija = 1. Jos vähemmän kuin muina päivinä, sija = 30)

![lam2](https://student.labranet.jamk.fi/~varpe/datananal2k2020/kerta4/malli2.png)

In [2]:
import pandas as pd

df = pd.read_csv('http://student.labranet.jamk.fi/~varpe/datananal2k2020/kerta4/lam.csv', sep = ',', decimal='.')
df.fillna(0, inplace=True)
df['Päivä'] = df['Pvm'].str.split('.').str[0]
df2 = df.pivot_table(['määrä'], index=['tuntiväli'], columns=['Päivä'], aggfunc=sum).astype(int)
df2['suurin'] = df2.max(axis=1)
df2['sija'] = df2.iloc[:, 0:30].rank(axis=1, ascending=False)['määrä'].iloc[:, 0]
print(df2)

          määrä                                                        ...  \
Päivä        01    02    03    04    05    06    07    08    09    10  ...
tuntiväli                                                              ...
00-01       183   278   321   140   156   160   172   185   361   319  ...
01-02       124   169   265   135   104    96   102    97   178   170  ...
02-03        84   145   147    53    78    80    69   104   129   127  ...
03-04       108   118   109    87    86    83    91   101   106    85  ...
04-05       217   157   128   229   204   219   203   221   140   118  ...
05-06       914   267   171   987   955  1011   925   899   290   159  ...
06-07      2541   388   259  2987  2920  2825  2802  2435   372   192  ...
07-08      3160   509   334  3555  3601  3615  3486  2971   507   222  ...
08-09      2601   875   520  3075  3107  3026  3176  2605   865   338  ...
09-10      1919  1372   770  1964  1936  1943  1983  1763  1297   644  ...
10-11      1749  1651  1156  1544  1498  1585  1595  1597  1651  1227  ...
11-12      1888  1951  1563  1476  1544  1598  1627  1695  1980  1665  ...
12-13      2032  2056  1785  1544  1603  1551  1590  1985  2065  1981  ...
13-14      2466  2064  2044  1659  1783  1809  1993  2333  2146  2186  ...
14-15      3393  2066  2222  2236  2450  2319  2629  3202  2127  2211  ...
15-16      4220  2151  2380  3557  3625  3774  3796  4034  2241  2420  ...
16-17      4076  2071  2521  3680  3812  3881  3922  3800  2105  2701  ...
17-18      3012  1887  2474  2579  2634  2670  2917  2858  1899  2548  ...
18-19      2016  1547  2150  1497  1510  1662  1689  1870  1638  2280  ...
19-20      1372  1311  1655  1057  1096  1163  1265  1403  1371  1951  ...
20-21      1001  1072  1095   918   888   993  1006  1035  1121  1658  ...
21-22       870   726   701   619   674   733   909   808   800   872  ...
22-23       725   639   520   417   424   501   553   648   592   529  ...
23-00       541   477   262   244   259   335   335   457   455   269  ...

                                                          suurin  sija
Päivä        23    24    25    26    27    28    29    30
tuntiväli
00-01       363   408   165   164   193   168   191   403    408  14.0
01-02       199   254   105   134   115   130   114   245    265  14.0
02-03       152   134    82    97    82    84    90   158    158  16.5
03-04       126   123   148    95    88   102    96   135    148   9.0
04-05       134   125   248   227   216   230   217   152    248  12.0
05-06       273   163   964   972   962   948   916   293   1011  17.5
06-07       436   197  2973  2859  2872  2869  2520   382   3026  18.0
07-08       583   257  3504  3439  3489  3425  2935   588   3615  17.0
08-09       927   446  2989  3057  3023  2859  2577   861   3223  19.0
09-10      1240   733  1953  1908  1833  1926  1788  1170   1999  10.0
10-11      1589  1066  1510  1570  1466  1542  1559  1511   1860   2.0
11-12      1855  1395  1533  1564  1563  1576  1802  1681   2130   4.0
12-13      1975  1775  1533  1564  1630  1659  2027  2000   2101   5.0
13-14      1968  1953  1693  1723  1698  1861  2417  2012   2583   2.0
14-15      1963  2202  2197  2407  2354  2466  3058  2024   3393   1.0
15-16      2092  2316  3171  3463  3548  3586  3766  1976   4220   1.0
16-17      2026  2321  3296  3662  3664  3796  3464  1938   4123   2.0
17-18      1885  2197  2634  2711  2792  2865  2453  1726   3012   1.0
18-19      1481  1954  1615  1575  1606  1836  1851  1466   2280   4.0
19-20      1232  1703  1010  1069  1146  1329  1258  1142   1951   7.0
20-21       893  1085   929   915  1017  1026  1077   846   1658  16.0
21-22       693   750   630   798   801   810   946   678    946   6.0
22-23       602   520   453   517   535   535   681   654    879   3.0
23-00       764   287   190   282   333   690   523   435    764   4.0

[24 rows x 32 columns]

## 4. Isomman tiedoston lukemien ja analysointi
Testaile isomman tiedoston lukemista tiedostolla (200 Mt):  
http://gpspekka.kapsi.fi/trafi56.zip

Kannattanee tallentaa tiedosto ensin omalle koneelle, jotta testailuvaiheessa ei tarvitse ladata sitä verkon yli joka kerta. Tiedostoa ei tarvitse purkaa.

Tiedostossa on n. 5 miljoonaa riviä "kaikkien liikennekäytössä olevien ajoneuvojen rekisteröinti-, hyväksyntä- ja teknisiä tietoja Trafin ylläpitämästä ajoneuvoliikennerekisteristä."

Data on puolipisteellä eroteltua, ja lukeminen vaatii (ilmeisesti) read_csv:lle parametrin `encoding='latin_1'`.

Aloita testailu antamalla read_csv:lle parametriksi vaikka `nrows=1000` jolloin se lukee vain 1000 ensimmäistä riviä, joilla voit tutkia esim. sarakeotsikoita. Kokeile sitten kuinka paljon rivejä saat mielekkäästi luettua kasvattamalla nrows-arvoa. Muista tallentaa tiedosto ennen kokeiluja, jotta systeemin kaatumien ei vie aikaisempia tehtäviäsi.

Kellota lukuoperaatio lisäämällä lukevan solun 1. riviksi `%%time`.

Kun olet saanut luettua "paljon"/kaikki dataa, tee sitten uuteen soluun jotain hakuja/koonteja/ryhmittelyjä (siksi uuteen soluun, että koodin ajaminen ei lue tiedostoa joka kerta uudestaan.)

Selvitä vaikka:  
* kuinka monta (vielä liikennekäytössä eli tiedostossa olevaa) ajoneuvoa käyttöönotettiin (kayttoonottopvm) 18-vuotissyntymäpäivänäsi  


* mikä on viiden kärki kentän merkkiSelvakielinen lukumäärissä  


* tee uusi sarake rekvuosi, johon luet 4 ensimmäistä merkkiä kentästä ensirekisterointipvm. Ristiintaulukoi sitten kentän sahkohybridi prosenttiosuudet (True/False) rekvuoden mukaan vuodesta 2001 eteenpäin.

In [7]:
import pandas as pd

df = pd.read_csv('http://gpspekka.kapsi.fi/trafi56.zip', sep = ';', decimal=',', usecols=['kayttoonottopvm', 'merkkiSelvakielinen', 'ensirekisterointipvm', 'sahkohybridi'], encoding='latin_1')
df2 = df

print('\nkuinka monta (vielä liikennekäytössä eli tiedostossa olevaa) ajoneuvoa käyttöönotettiin (kayttoonottopvm) 18-vuotissyntymäpäivänäsi')
dft1 = df2['kayttoonottopvm'] == 20010406
print(dft1.sum())

print('\nmikä on viiden kärki kentän merkkiSelvakielinen lukumäärissä')
dft2 = pd.DataFrame(df2.groupby('merkkiSelvakielinen')['merkkiSelvakielinen'].count().sort_values(ascending=False))
print(dft2.head(5))

print('\ntee uusi sarake rekvuosi, johon luet 4 ensimmäistä merkkiä kentästä ensirekisterointipvm. Ristiintaulukoi sitten kentän sahkohybridi prosenttiosuudet (True/False) rekvuoden mukaan vuodesta 2001 eteenpäin.')
df2['rekvuosi'] = 0
df2.loc[(df['ensirekisterointipvm'].notnull()), 'rekvuosi'] = df2['ensirekisterointipvm'].str[0:4].astype(float)
dft3 = df2[(df2['rekvuosi'] > 2000)]
dft3 = pd.crosstab(dft3['rekvuosi'],  dft3['sahkohybridi'], normalize = 'index').applymap("{:.1%}".format)
print(dft3)

kuinka monta (vielä liikennekäytössä eli tiedostossa olevaa) ajoneuvoa käyttöönotettiin (kayttoonottopvm) 18-vuotissyntymäpäivänäsi
796

mikä on viiden kärki kentän merkkiSelvakielinen lukumäärissä
                     merkkiSelvakielinen
merkkiSelvakielinen
Toyota                            431928
Ford                              280639
Volkswagen                        269289
Volvo                             261573
Mercedes-Benz                     233640

tee uusi sarake rekvuosi, johon luet 4 ensimmäistä merkkiä kentästä ensirekisterointipvm. Ristiintaulukoi sitten kentän sahkohybridi prosenttiosuudet (True/False) rekvuoden mukaan vuodesta 2001 eteenpäin.
sahkohybridi   False  True
rekvuosi
2001.0        100.0%   0.0%
2002.0        100.0%   0.0%
2003.0        100.0%   0.0%
2004.0        100.0%   0.0%
2005.0        100.0%   0.0%
2006.0        100.0%   0.0%
2007.0        100.0%   0.0%
2008.0        100.0%   0.0%
2009.0         99.9%   0.1%
2010.0         99.2%   0.8%
2011.0         98.1%   1.9%
2012.0         96.8%   3.2%
2013.0         94.5%   5.5%
2014.0         97.8%   2.2%
2015.0         97.8%   2.2%
2016.0         96.5%   3.5%
2017.0         93.5%   6.5%
2018.0         90.0%  10.0%
2019.0         87.4%  12.6%

## 5. Jalkapalloa
Tiedostossa https://student.labranet.jamk.fi/~varpe/datananal2k2020/kerta4/epl4.txt  on Englannin Valioliigan ottelutulokset kauden 2018-2019 loppuun. Käsittelyn helpottamiseksi siinä on laskettu valmiiksi koti- ja vierasjoukkueiden saamat pisteet ottelusta (3, 1 tai 0).

Tiedostossa https://student.labranet.jamk.fi/~varpe/datananal2k2020/kerta4/sijat.txt on joukkueiden loppusijoitukset kausittain. 

Ensimmäisestä tiedostosta pitäisi saada koostettua DataFrame, jossa on tieto **kuinka monta pistettä kukin joukkue on saanut kunkin kauden 15 ensimmäisestä ottelustaan**

Toista tiedostoa hyväksi käyttäen pitäisi sitten etsiä vastaus kysymykseen **mitkä ovat olleet suurimmat erot (eniten jäljessä) neljänteen sijaan 15 ottelun jälkeen joukkueilla, jotka ovat sijoittuneet kauden lopussa neljän parhaan joukkoon?**

* laske jokaiselle joukkueelle jokaiselle kaudelle kuinka paljon pisteitä on kauden 15 ensimmäisestä pelistä
* laske jokaiselle kaudelle paljonko on neljänneksi suurin pistemäärä (15 ensimmäisen pelin pistemääristä)
* laske jokaiselle joukkueelle jokaiselle kaudelle paljonko ero on ollut tähän neljänteen pistemäärään
* suodata mukaan vain ne joukkueet, jotka ko. kaudella ovat loppusijoituksissa 4 parhaan joukossa ja laijittele näistä eroista suurimmat (eniten 4 sijaa jäljessä olleet).

Alkua 1. vaiheesta (15 pelin pistemääristä):  

```
Season       1993-1994  1994-1995  1995-1996  1996-1997  1997-1998  1998-1999
Team                                                                            
Arsenal           26.0       19.0       28.0       31.0       27.0       25.0   
Aston Villa       29.0       13.0       27.0       24.0       18.0       30.0   
Barnsley           NaN        NaN        NaN        NaN       13.0        NaN   
Birmingham         NaN        NaN        NaN        NaN        NaN        NaN   
Blackburn         26.0       33.0       18.0       12.0       30.0        9.0   
```

Vastaus kysymykseen:  
```
 		 	
Season 	     Team          ero_neloseen  loppusija
2001-2002 	  Man United    6 	        3
2012-2013 	  Arsenal       5 	        4
2017-2018 	  Tottenham     4 	        3
2000-2001 	  Leeds 	    4 	        4
2014-2015 	  Arsenal       4 	        3
```

*Ottelusiirtojen yms. vuoksi joukkeet eivät ole pelanneet samaa tahtia, joten "ero 4. sijaan 15 pelin jälkeen" ei ole ollut välttämättä minkään päivän sarjataulukon tilanne (eri joukkueet ovat saaneet 15 peliä pelattua eri aikoina), vaan tässä lasketaan vain jokaiselta joukkueelta sen 15 ensimmäistä ottelua kultakin kaudelta*.

In [8]:
import pandas as pd

df = pd.read_csv('https://student.labranet.jamk.fi/~varpe/datananal2k2020/kerta4/epl4.txt', sep = ',', decimal='.')

print(df)

df2 = pd.read_csv('https://student.labranet.jamk.fi/~varpe/datananal2k2020/kerta4/sijat.txt', sep = ',', decimal='.')

print('test')
#te = df.pivot_table(['HomePoints', 'AwayPoints'], index=['Season'])
#print(te)

print('laske jokaiselle joukkueelle jokaiselle kaudelle kuinka paljon pisteitä on kauden 15 ensimmäisestä pelistä')
#t1 = pd.crosstab([df['HomeTeam'], df['AwayTeam']],  [df['HomePoints'], df['AwayPoints']])
#print(t1)

k3 = df[df['HomePoints']==3].groupby(['Season', 'HomeTeam'])['HomeTeam'].count()  # 3p-kotivoitot
k1 = df[df['HomePoints']==1].groupby(['Season', 'HomeTeam'])['HomeTeam'].count()  # 1p-kotona
k0 = df[df['HomePoints']==0].groupby(['Season', 'HomeTeam'])['HomeTeam'].count()  # 0p-kotitappiot

v3 = df[df['AwayPoints']==3].groupby(['Season', 'AwayTeam'])['AwayTeam'].count()  # 3p-vierasvoitot
v1 =  df[df['AwayPoints']==1].groupby(['Season', 'AwayTeam'])['AwayTeam'].count()  # 1p-vieraana
v0 = df[df['AwayPoints']==0].groupby(['Season', 'AwayTeam'])['AwayTeam'].count()  # 0p-vierastappiot

# Seriekset DataFrameksi
t = pd.DataFrame({'k3': k3, 'v3': v3, 'k1':k1, 'v1':v1, 'k0':k0, 'v0':v0})
print(t)
t['o'] = (t['k3'] + t['v3']) + (t['k1'] + t['v1']) + (t['k0'] + t['v0'])
t['p'] = ((t['k3'] + t['v3']) *3) + (t['k1'] + t['v1'])
print(t)

print('laske jokaiselle kaudelle paljonko on neljänneksi suurin pistemäärä (15 ensimmäisen pelin pistemääristä)')

st = t['p'].unstack()
print(st)
sst =st.unstack()
print(sst)
#t['rank'] = t['p'].rank(axis=0, ascending=False)
#print(t.iloc[:, 0])

print('laske jokaiselle joukkueelle jokaiselle kaudelle paljonko ero on ollut tähän neljänteen pistemäärään')

print('suodata mukaan vain ne joukkueet, jotka ko. kaudella ovat loppusijoituksissa 4 parhaan joukossa ja laijittele näistä eroista suurimmat (eniten 4 sijaa jäljessä olleet).')

          Season        Date     HomeTeam        AwayTeam  HomePoints  \
0      1993-1994  1993-08-14      Arsenal        Coventry           0
1      1993-1994  1993-08-14  Aston Villa             QPR           3
2      1993-1994  1993-08-14      Chelsea       Blackburn           0
3      1993-1994  1993-08-14    Liverpool  Sheffield Weds           3
4      1993-1994  1993-08-14     Man City           Leeds           1
...          ...         ...          ...             ...         ...
10039  2018-2019  2019-05-12    Liverpool          Wolves           3
10040  2018-2019  2019-05-12   Man United         Cardiff           0
10041  2018-2019  2019-05-12  Southampton    Huddersfield           1
10042  2018-2019  2019-05-12    Tottenham         Everton           1
10043  2018-2019  2019-05-12      Watford        West Ham           0

       AwayPoints
0               3
1               0
2               3
3               0
4               1
...           ...
10039           0
10040           3
10041           1
10042           1
10043           3

[10044 rows x 6 columns]
test
laske jokaiselle joukkueelle jokaiselle kaudelle kuinka paljon pisteitä on kauden 15 ensimmäisestä pelistä
                       k3    v3   k1   v1   k0    v0
1993-1994 Arsenal      10   8.0  8.0  9.0  3.0   4.0
          Aston Villa   8   7.0  5.0  7.0  8.0   7.0
          Blackburn    14  11.0  5.0  4.0  2.0   6.0
          Chelsea      11   2.0  5.0  7.0  5.0  12.0
          Coventry      9   5.0  7.0  7.0  5.0   9.0
...                    ..   ...  ...  ...  ...   ...
2018-2019 Southampton   5   4.0  8.0  4.0  6.0  11.0
          Tottenham    12  11.0  2.0  NaN  5.0   8.0
          Watford       8   6.0  3.0  5.0  8.0   8.0
          West Ham      9   6.0  4.0  3.0  6.0  10.0
          Wolves       10   6.0  4.0  5.0  5.0   8.0

[524 rows x 6 columns]
                       k3    v3   k1   v1   k0    v0     o     p
1993-1994 Arsenal      10   8.0  8.0  9.0  3.0   4.0  42.0  71.0
          Aston Villa   8   7.0  5.0  7.0  8.0   7.0  42.0  57.0
          Blackburn    14  11.0  5.0  4.0  2.0   6.0  42.0  84.0
          Chelsea      11   2.0  5.0  7.0  5.0  12.0  42.0  51.0
          Coventry      9   5.0  7.0  7.0  5.0   9.0  42.0  56.0
...                    ..   ...  ...  ...  ...   ...   ...   ...
2018-2019 Southampton   5   4.0  8.0  4.0  6.0  11.0  38.0  39.0
          Tottenham    12  11.0  2.0  NaN  5.0   8.0   NaN   NaN
          Watford       8   6.0  3.0  5.0  8.0   8.0  38.0  50.0
          West Ham      9   6.0  4.0  3.0  6.0  10.0  38.0  52.0
          Wolves       10   6.0  4.0  5.0  5.0   8.0  38.0  57.0

[524 rows x 8 columns]
laske jokaiselle kaudelle paljonko on neljänneksi suurin pistemäärä (15 ensimmäisen pelin pistemääristä)
           Arsenal  Aston Villa  Barnsley  Birmingham  Blackburn  Blackpool  \
1993-1994     71.0         57.0       NaN         NaN       84.0        NaN
1994-1995     51.0         48.0       NaN         NaN       89.0        NaN
1995-1996     63.0         63.0       NaN         NaN       61.0        NaN
1996-1997     68.0         61.0       NaN         NaN       42.0        NaN
1997-1998     78.0         57.0      35.0         NaN       58.0        NaN
1998-1999     78.0         55.0       NaN         NaN       35.0        NaN
1999-2000     73.0         58.0       NaN         NaN        NaN        NaN
2000-2001     70.0         54.0       NaN         NaN        NaN        NaN
2001-2002     87.0         50.0       NaN         NaN       46.0        NaN
2002-2003     78.0         45.0       NaN        48.0       60.0        NaN
2003-2004     90.0         56.0       NaN        50.0       44.0        NaN
2004-2005     83.0         47.0       NaN        45.0       42.0        NaN
2005-2006     67.0         42.0       NaN        34.0       63.0        NaN
2006-2007     68.0         50.0       NaN         NaN       52.0        NaN
2007-2008     83.0         60.0       NaN        35.0       58.0        NaN
2008-2009     72.0         62.0       NaN         NaN       41.0        NaN
2009-2010     75.0         64.0       NaN        50.0       50.0        NaN
2010-2011     68.0         48.0       NaN        39.0       43.0       39.0
2011-2012     70.0         38.0       NaN         NaN       31.0        NaN
2012-2013     73.0         41.0       NaN         NaN        NaN        NaN
2013-2014     79.0         38.0       NaN         NaN        NaN        NaN
2014-2015     75.0         38.0       NaN         NaN        NaN        NaN
2015-2016     71.0         17.0       NaN         NaN        NaN        NaN
2016-2017     75.0          NaN       NaN         NaN        NaN        NaN
2017-2018     63.0          NaN       NaN         NaN        NaN        NaN
2018-2019     70.0          NaN       NaN         NaN        NaN        NaN

           Bolton  Bournemouth  Bradford  Brighton  ...  Sunderland  Swansea  \
1993-1994     NaN          NaN       NaN       NaN  ...         NaN      NaN
1994-1995     NaN          NaN       NaN       NaN  ...         NaN      NaN
1995-1996    29.0          NaN       NaN       NaN  ...         NaN      NaN
1996-1997     NaN          NaN       NaN       NaN  ...        40.0      NaN
1997-1998    40.0          NaN       NaN       NaN  ...         NaN      NaN
1998-1999     NaN          NaN       NaN       NaN  ...         NaN      NaN
1999-2000     NaN          NaN      36.0       NaN  ...        58.0      NaN
2000-2001     NaN          NaN      26.0       NaN  ...        57.0      NaN
2001-2002    40.0          NaN       NaN       NaN  ...        40.0      NaN
2002-2003    44.0          NaN       NaN       NaN  ...        19.0      NaN
2003-2004    53.0          NaN       NaN       NaN  ...         NaN      NaN
2004-2005    58.0          NaN       NaN       NaN  ...         NaN      NaN
2005-2006    56.0          NaN       NaN       NaN  ...        15.0      NaN
2006-2007    56.0          NaN       NaN       NaN  ...         NaN      NaN
2007-2008    37.0          NaN       NaN       NaN  ...        39.0      NaN
2008-2009    41.0          NaN       NaN       NaN  ...        36.0      NaN
2009-2010    39.0          NaN       NaN       NaN  ...        44.0      NaN
2010-2011    46.0          NaN       NaN       NaN  ...        47.0      NaN
2011-2012    36.0          NaN       NaN       NaN  ...        45.0     47.0
2012-2013     NaN          NaN       NaN       NaN  ...        39.0     46.0
2013-2014     NaN          NaN       NaN       NaN  ...        38.0     42.0
2014-2015     NaN          NaN       NaN       NaN  ...        38.0     56.0
2015-2016     NaN         42.0       NaN       NaN  ...        39.0     47.0
2016-2017     NaN         46.0       NaN       NaN  ...        24.0     41.0
2017-2018     NaN         44.0       NaN      40.0  ...         NaN     33.0
2018-2019     NaN         45.0       NaN      36.0  ...         NaN      NaN

           Swindon  Tottenham  Watford  West Brom  West Ham  Wigan  Wimbledon  \
1993-1994     30.0       45.0      NaN        NaN      52.0    NaN       65.0
1994-1995      NaN       62.0      NaN        NaN      50.0    NaN       56.0
1995-1996      NaN       61.0      NaN        NaN      51.0    NaN       41.0
1996-1997      NaN       46.0      NaN        NaN      42.0    NaN       56.0
1997-1998      NaN       44.0      NaN        NaN      56.0    NaN       44.0
1998-1999      NaN       47.0      NaN        NaN      57.0    NaN       42.0
1999-2000      NaN       53.0     24.0        NaN      55.0    NaN       33.0
2000-2001      NaN       49.0      NaN        NaN      42.0    NaN        NaN
2001-2002      NaN       50.0      NaN        NaN      53.0    NaN        NaN
2002-2003      NaN       50.0      NaN       26.0      42.0    NaN        NaN
2003-2004      NaN       45.0      NaN        NaN       NaN    NaN        NaN
2004-2005      NaN       52.0      NaN       34.0       NaN    NaN        NaN
2005-2006      NaN       65.0      NaN       30.0      55.0   51.0        NaN
2006-2007      NaN       60.0     28.0        NaN      41.0   38.0        NaN
2007-2008      NaN       46.0      NaN        NaN      49.0   40.0        NaN
2008-2009      NaN       51.0      NaN       32.0      51.0   45.0        NaN
2009-2010      NaN       70.0      NaN        NaN      35.0   36.0        NaN
2010-2011      NaN       62.0      NaN       47.0      33.0   42.0        NaN
2011-2012      NaN       69.0      NaN       47.0       NaN   43.0        NaN
2012-2013      NaN       72.0      NaN       49.0      46.0   36.0        NaN
2013-2014      NaN       69.0      NaN       36.0      40.0    NaN        NaN
2014-2015      NaN       64.0      NaN       44.0      47.0    NaN        NaN
2015-2016      NaN       70.0     45.0       43.0      62.0    NaN        NaN
2016-2017      NaN       86.0     40.0       45.0      45.0    NaN        NaN
2017-2018      NaN       77.0     41.0       31.0      42.0    NaN        NaN
2018-2019      NaN        NaN     50.0        NaN      52.0    NaN        NaN

           Wolves
1993-1994     NaN
1994-1995     NaN
1995-1996     NaN
1996-1997     NaN
1997-1998     NaN
1998-1999     NaN
1999-2000     NaN
2000-2001     NaN
2001-2002     NaN
2002-2003     NaN
2003-2004     NaN
2004-2005     NaN
2005-2006     NaN
2006-2007     NaN
2007-2008     NaN
2008-2009     NaN
2009-2010    38.0
2010-2011    40.0
2011-2012    25.0
2012-2013     NaN
2013-2014     NaN
2014-2015     NaN
2015-2016     NaN
2016-2017     NaN
2017-2018     NaN
2018-2019    57.0

[26 rows x 49 columns]
Arsenal  1993-1994    71.0
         1994-1995    51.0
         1995-1996    63.0
         1996-1997    68.0
         1997-1998    78.0
                      ...
Wolves   2014-2015     NaN
         2015-2016     NaN
         2016-2017     NaN
         2017-2018     NaN
         2018-2019    57.0
Length: 1274, dtype: float64
laske jokaiselle joukkueelle jokaiselle kaudelle paljonko ero on ollut tähän neljänteen pistemäärään
suodata mukaan vain ne joukkueet, jotka ko. kaudella ovat loppusijoituksissa 4 parhaan joukossa ja laijittele näistä eroista suurimmat (eniten 4 sijaa jäljessä olleet).